/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2021, 9:51:39 PM
    Author     : X
*/
.root{
    -fx-font-family:Helvetica;
    -fx-background-color: #69b9ff;
    
}
.label{
    -fx-font-weight:bold;
}

.button{
    -fx-background-color: #dfe5f0;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}